{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="bg-section">
        <div class="bg-content">
            <h1 class="display-4 text-uppercase font-weight-bold">Advanced Gaming Gear</h1>
        </div>
        <div class="bg-button">
            <h4>
                <a href="" class="btn btn-md btn-light text-uppercase py-3 font-weight-bold">Shop Now</a>
            </h4>
        </div>
    </div>
{% endblock %}

