/*general css*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    color: #fafafa;
    font-family: 'Roboto', 'sans-serif';
    background-color: #000;
}

/* Icon styles from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem; 
}

hr {
    background-color: #44D62C;
}

.hr-half-right {
    width: 40%;
    float: right;
}

.hr-half-left {
    width: 40%;
    float: left;
}


/* navigation bar section */

nav, #top-nav {
    background-color: #44D62C ;
}

.nav-link {
    color: #000
}

.logo {
    font-family: 'Oswald', 'sans-serif';
    text-transform: uppercase;
}

.custom-button {
    border: 2px solid #000; 
    background-color: transparent; 
    color: #000; 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    
}

#delivery-banner {
    background-color: #333333;
    color: #fafafa;
    padding: 2px;
}

#delivery-banner h4 {
    margin-top: 8px;
}

/* footer section */

.footer-main {
    background-color: #44D62C;
}

.links {
    font-weight: 700;
    margin: 0;
    padding: 0;
    list-style: none; 
}

.links li {
    padding: 1rem 0;
    display: inline-block;
}
 
.links li a i {
    padding: 0.5rem;
    font-size: 1.25rem;
    color: #000
}

/* home page section */

.bg-section {
    background: url('/media/home-page.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fafafa;
    width: 100vw; 
    height: 600px; 
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.bg-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);  
    padding: 20px;
}

.bg-button {
    position: absolute;
    bottom: 50px; 
    text-align: center;
    width: 100%; 
}

.btn-green {
    background-color: #44D62C;
}

.bestsellers-section .col-md-4 {
    height: 400px;       
}

.bestsellers-section h5 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bestsellers-section img {
    max-width: 100%;           
    max-height: 70%; 
    object-fit: cover;        
    border-radius: 8px;
    border: 3px solid #44D62C;  
    margin-bottom: 15px; 
}

.qoute-section {
    padding-bottom: 1rem;
}

.qoute-section p {
    font-style: italic;
    padding-bottom: 1rem;
    font-size: 1.2rem; 
    line-height: 1.5; 
}

.qoute-section p i {
    font-size: medium;
    color: #f39c12; 
    margin: 0 0.25rem; 
}

.blockquote-footer {
    margin-top: 1rem;
    font-size: 1rem;
    color: #dcdcdc; 
}

.blockquote {
    position: relative;
    margin: 2rem 0; 
    color: #fafafa; 
    font-style: italic;
}

.quote-right {
    text-align: right;
    padding-right: 50px;
}

.quote-left {
    text-align: left;
    padding-left: 50px;
}

/* products page section */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #333333;
}

.btt-link {
    cursor: pointer;
}

/* media queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 180px;
      }
  }
