<!-- Base code for this widget came from : 
 https://github.com/django/django/blob/main/django/forms/templates/django/forms/widgets/clearable_file_input.html  
-->

{% if widget.is_initial %}
    <p>{{ widget.initial_text }}:</p>
    <a href="{{ widget.value.url }}">
        <img width="96" height="96" class="shadow-sm mb-2" src="{{ widget.value.url }}" alt="Current Image">
    </a>
    <p>{{ widget.input_text }}</p>
{% endif %}
<span class="btn btn-green text-white btn-file">
    Select Image <input id="new-image" type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
</span>
<strong><p class="text-danger" id="filename"></p></strong>