<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 text-uppercase" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 text-uppercase" href="#" id="mice-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mice
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mice-link">
                <a href="" class="dropdown-item">Wireless</a>
                <a href="" class="dropdown-item">Wired</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 text-uppercase" href="#" id="keyboards-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Keyboards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="keyboards">
                <a href="" class="dropdown-item">Mechanical</a>
                <a href="" class="dropdown-item">Membrane</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black text-uppercase" href="#" id="headsets-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Headsets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="headsets-link">
                <a href="" class="dropdown-item">Wireless</a>
                <a href="" class="dropdown-item">Wired</a>
            </div>
        </li>
    </ul>
</div>
