{% extends "account/base_reauthenticate.html" %}
{% load allauth %}
{% load i18n %}
{% block reauthenticate_content %}
    {% element p %}
        {% blocktranslate %}Enter your password:{% endblocktranslate %}
    {% endelement %}
    {% url 'account_reauthenticate' as action_url %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
            <button type="submit" tags="primary,reauthenticate" class="btn">
                {% trans "Confirm" %}
            </button></button>
        {% endslot %}
    {% endelement %}
{% endblock %}
