{% extends "account/base_entrance.html" %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Sign Up" %}
{% endblock head_title %}

{% block inner_content %}
    {% element h1 %}
        {% trans "Sign Up" %}
    {% endelement %}
    <hr>
    {% setvar link %}
        <a href="{{ login_url }}">
        {% endsetvar %}
        {% setvar end_link %}
        </a>
    {% endsetvar %}
    {% element p %}
        {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
    {% endelement %}
    
    {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_signup' as action_url %}
        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
            {% slot body %}
                {% csrf_token %}
                {{ form|crispy }}
                {{ redirect_field }}
            {% endslot %}
            {% slot actions %}
                <button type="submit" data-tags="prominent,signup" class="btn">
                    {% trans "Sign Up" %}
                </button>
            {% endslot %}
        {% endelement %}
    {% endif %}
    
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock inner_content %}
