{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center lead">
            <h2 class="mt-5">Thank you for contacting us {{ request.user.username }}!</h2>
            <p>We shall review your query and respond within 3 working days.</p>
            <p>Thank you for your patience!</p>
        </div>
    </div>

    <!-- Centering the button -->
    <div class="row">
        <div class="col-12 text-center">
            <a href="{% url 'products' %}" class="btn btn-lg btn-green text-uppercase font-weight-bold mb-5">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Keep Browsing</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
