{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Header container -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Main content container for the Add Product form -->
<div class="container">
    <!-- Page header section, with title and subtitle for context -->
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="mr-5 ml-5">Product Management</h2>
            <h5 class="mr-5 ml-5 text-muted">Add a Product</h5>
            <hr>
        </div>
    </div>

    <!-- Form row containing the add product form with file upload capability -->
    <div class="row">
        <div class="col-12 col-md-6">
            <!-- Form to add a new product; enctype enables file uploads -->
            <form action="{% url 'add_product' %}" method="POST" class="form mb-3" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Loop to render each field in the form using Crispy Forms styling, except for the image field -->
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <!-- Buttons to either cancel or submit the form, aligned to the right for styling consistency -->
                <div class="text-right">
                    <a href="{% url 'products' %}" class="btn btn-green font-weight-bold text-white">Cancel</a>
                    <button class="btn btn-green font-weight-bold text-white" type="submit">Add Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/display_name_script.html' %}
{% endblock %}
