{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="mr-5 ml-5">Product Management</h2>
            <h5 class="mr-5 ml-5 text-muted">Edit a Product</h5>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <form action="{% url 'edit_product' product.id %}" method="POST" class="form mb-3" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-right">
                    <a href="{% url 'products' %}" class="btn btn-green font-weight-bold text-white">Cancel</a>
                    <button class="btn btn-green font-weight-bold text-white" type="submit">Update Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

